<nav class="navbar navbar-light bg-light justify-content-between mt-3 px-3">
  <ul class="nav nav-pills">
    <li class="nav-item"><a class="nav-link" (click)="orderDate()">Orden fecha</a></li>
    <li class="nav-item"><a class="nav-link" (click)="orderPrice()">Orden precio</a></li>
  </ul>
  <input type="text" class="form-control w-25" [(ngModel)]="search" placeholder="Search...">
</nav>

<app-evento-add (add)="anyadirEvento($event)"></app-evento-add>

<div class="row">
  @if (Events.length !== 0) {
    @for (event of Events; track $index) {
      <div class="col-6 mt-4">
        <app-evento-item
          [event]="event"
          (delete)="eliminarEvento(event)">
        </app-evento-item>
      </div>
    }
  } @else {
    <h3 class="mt-4 text-center">No hay eventos disponibles</h3>
  }
</div>
